.explore ul {
  display: flex;
  gap: 20px;
  width: fit-content;
  margin: auto;
  align-items: center;
}
.explore {
  background: var(--Gray-Gray-1, #eaebf0);
  padding-block: 75px;
}
.explore ul li {
  color: var(--Gray-Gray-4, #666872);
  text-align: center;
  /* Body/Body 4 */
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 28.8px */
  text-transform: capitalize;
  border-radius: 50px;
  display: flex;
  padding: 10px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  transition: 0.2s all;
}
.explore ul li:hover {
  color: var(--white-Color);
  background-color: var(--main-red);
}
.list_models {
  display: flex;
  align-items: center;
  margin-block: 75px;
  gap: 65px;
  justify-content: start;
  padding-block: 10px;
}
.list_models .modele .box_model {
  border-radius: 30px;
  background: var(--main-white, #fffffe);
  box-shadow: 0px 30px 80px 0px rgba(0, 0, 0, 0.04);
  width: 311px;
  height: 378px;
  padding: 16px 17px;
  position: relative;
}
.list_models .modele {
  display: flex;
  width: 586px;
  height: 378px;
  justify-content: center;
  align-items: center;
  position: relative;
}
.list_models .modele img {
  width: 327px;
  height: 247px;
  margin-top: 82px;
  z-index: 111;
  margin-right: -58px;
}
.list_models .modele .box_model .title {
  color: var(--main-dark, #100e34);
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 43.2px */
  text-transform: capitalize;
  width: fit-content;
}
.list_models .modele .box_model .status {
  color: var(--Gray-Gray-4, #666872);
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%; /* 25.2px */
  text-transform: capitalize;
}

.box_model .info_car {
  position: absolute;
  right: 19px;
  width: 215px;
  top: 150px;
  /* justify-content: space-between; */
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.info_car .car_info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.info_car .car_info span:first-child {
  color: var(--Gray-Gray-4, #666872);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  text-transform: capitalize;
}
.info_car .car_info span:last-child {
  color: var(--main-dark, #100e34);
  text-align: right;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  text-transform: capitalize;
}
.info_car .price {
  color: var(--main-dark, #100e34);
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
  text-transform: capitalize;
}
.carousel {
  cursor: grab;
  overflow: hidden;
}
/* Medium devices (landscape tablets, 768px and up) */
@media (max-width: 991px) {
}
/*Mobile Device*/
@media (min-width: 320px) and (max-width: 480px) {
  .explore ul li {
    font-size: 14px;
    padding: 5px 10px;
  }
  .explore ul {
    display: grid;
    grid-template-columns: auto auto;
  }
  .list_models .modele img {
    width: 141px;
    height: 122px;
  }
  .list_models .modele .box_model{
    width: 270px;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .explore .list_models .modele {
    width: 407px;
  }
  .explore .list_models .modele img {
    width: 231px;
    height: 163px;
  }
  .box_model .info_car {
    width: 160px;
  }
  .explore ul {
    display: grid;
    grid-template-columns: auto auto;
  }
  .explore ul li {
    font-size: 14px;
    padding: 5px 10px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media (min-width: 769px) and (max-width: 991px) {
}
/* Large devices (laptops/desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}
@media (min-width: 1200px) {
}
